# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
drop_0be/drop_0/__pycache__/
drop_0be/drop_0/migrations/__pycache__/
drop_0fe/node_modules/
drop_0fe/public/data/
drop_0be/drop_0/management/__pycache__/
drop_0be/drop_0/management/commands/__pycache__/
drop_0be/drop_0be/__pycache__/
