/* ChartComponent.css */

.chart {
    height: 42vh;
    width: 40rem;
    padding: 10px;
    background-color: #bfdce8;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
  h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  h4 {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

.getAnalysis{
  display: flex;
  align-items: center;
  margin-left: 28px;
  margin-right: 30px;
  /* background-color: #fff; */
  /* border: 1px solid #a85353;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  justify-content: space-between;
}

.div1 {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
}
  
/* Add this style to make the link look like a button */
.button-link {
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(86, 155, 227);
  color: #ffffff; /* Button text color */
  text-decoration: solid;
  font-size: 24;
  font-style: bold;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add transition for a smooth effect */
}

.button-link:hover {
  background-color: #0056b3; /* Change color on hover */
}
