/* ChartComponent.css */

.lines {
  
    height: 42vh;
    width: 39rem;
    margin-top: 7px;
    padding: 20px;
    background-color: #bfdce8;
    
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    text-align: center;
}

.mode-buttons {
  display: flex;
  justify-content: center;
  gap: 16px; /* Adjust the spacing between buttons */
  margin-bottom: 6px; /* Add some margin below the buttons */
}

.mode-buttons button {
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.mode-buttons button.active {
  background-color: #4caf50;
  color: white;
}
