.home-container{
    
    display: flex;
    
    /* background: #a1c0cd; */
    width: 56%;
    overflow: hidden;
    padding: 14px;
    margin: 5px;
}
.Policies1{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 18px;
  font-family: 'IBM Plex Sana Thai Looped', sans-serif;
  background: #acc5d0;
  background: rgba(179, 208, 219, 0.8);
    box-shadow: 0 8px 32px 0 rgba(67, 69, 98, 0.37);
    backdrop-filter: blur(8.5px);
    border-radius: 10px;
    padding: 5px;
  
    
}
.Policies2{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 18px;
  font-family: 'IBM Plex Sana Thai Looped', sans-serif;
  background: #acc5d0;
  background: rgba(179, 208, 219, 0.8);
    box-shadow: 0 8px 32px 0 rgba(67, 69, 98, 0.37);
    backdrop-filter: blur(8.5px);
    border-radius: 10px;
    padding: 5px;
  
    
}
.Policies3{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 18px;
  font-family: 'IBM Plex Sana Thai Looped', sans-serif;
  background: #acc5d0;
  background: rgba(179, 208, 219, 0.8);
    box-shadow: 0 8px 32px 0 rgba(67, 69, 98, 0.37);
    backdrop-filter: blur(8.5px);
    border-radius: 10px;
    padding: 5px;
  
    
}
.img{
    width: 250px;
    margin-left: 130px;
    margin-top: 40px;
}
.img2{
    margin-top: 5rem;
    margin-left: 5rem;
}
.Tile1{
    position:absolute;
    /* margin-top: 8rem; */
    padding-top: 20px;
    width: 32rem;
    background: rgba(127, 216, 178, 0.505);
    backdrop-filter: blur(6.5px);
    border-radius: 10px;
    height: 52vh;
}
.MapName{
    padding-top: 10px;
    padding-left: 14px;
}
.Tile2{
    padding: 10px 20px 10px 10px;
    width: 23rem;
    background: rgba(163, 235, 204, 0.505);
    backdrop-filter: blur(6.5px);
    border-radius: 10px;
    right: 0;
    
}
.Left-half{
    width: 40%;
    margin-top: 2rem;
    
}
.Right-half{
    display: flex;
    width: 80%;
    margin-left: 34rem; 
}
.Upper-half{
    flex: none;
}
.Lower-half{
    flex: none;
}
.Tile3{
    padding: 20px;
    padding-left: 30px;
    margin-top: 20px;
    height: 50vh;
    width: 56rem;
    background: rgba(97, 208, 160, 0.505);
    backdrop-filter: blur(6.5px);
    border-radius: 10px;
    
}