/* Table styles */
.custom-table {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-collapse: collapse;
  width: 95%;
  height: 95%;
  margin-left: 35px;
}

/* Header row styles */
.custom-table th {
  border: 1px solid #495057;
  background-color: rgb(109, 123, 134);
  color: #ffffff;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

/* Data row styles */
.custom-table td {
  border: 1px solid #ced4da;
  padding: 9px;
  text-align: left;
  white-space: nowrap;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollContainer {
  height: 95vh;
  flex: none;
  overflow-y: auto;
}

/* Even row styles */
.even-row {
  background-color: #f8f9fa;
}

/* Odd row styles */
.odd-row {
  background-color: #ffffff;
}

/* Hovered row styles */
.hov-row {
  background-color: rgb(226, 235, 243);
}

/* Ascending icon styles */
.custom-table th.ascending::after {
  content: '▲';
  font-size: 18px;
  display: inline;
  margin-right: 4px;
  margin-left: 5px;
}

/* Descending icon styles */
.custom-table th.descending::after {
  content: '▼';
  font-size: 18px;
  display: inline;
  margin-right: 4px;
  margin-left: 5px;
}

/* Add these styles to highlight the sorted column */
.custom-table th.ascending,
.custom-table th.descending {
  background-color: #91a5a6;
}

.overallRate {
  background-color: rgb(169, 227, 211);
}