.Visuals {
    height: 100vh;
    width: 96%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: ltr;
  }
  
  .left-half{
    flex: none;
    width: 50%;
    height: 95vh; /* Adjust the height as needed */
    overflow-y: auto;
  }

  .right-half {
    align-items: center;
    align-content: center;
    flex: none;
    width: 50%;
    height: 100vh; /* Adjust the height as needed */
  }
  
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .App {
      flex-direction: column; /* On smaller screens, stack them vertically */
    }
  
    .left-half,
    .right-half {
      width: 100%; /* Make them take up full width on smaller screens */
      margin-bottom: 10px; /* Optional: Add spacing between them */
    }
  }
  
.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: rgba(249, 249, 249, 0);
  margin-bottom: 1%;
}
.dropdown-button {
  margin-right: 0.5%;
}
.dropdown-content {
  
  border: none;
  border-radius: 4px;
  background-color: #f9f9f900;
  font-size: medium;
}