.App {
  display: flex;
  justify-content: space-between;
}


/* Media query for responsive design */
/* @media (max-width: 768px) {
  .App {
    flex-direction: column;  On smaller screens, stack them vertically 
  }

  .left-half,
  .right-half {
    width: 100%; Make them take up full width on smaller screens 
    margin-bottom: 10px;  Optional: Add spacing between them
  }
} 
*/
