/* Table styles */
.custom-table {
    border-collapse: collapse; /* Merge cell borders to create grid lines */
    width: 90%;
  }
  
  /* Header row styles */
  .custom-table th {
    border: 1px solid #ddd; /* Add borders to header cells */
    background-color: #f2f2f2; /* Optional: Add background color */
    padding: 8px; /* Optional: Add padding */
    text-align: left; /* Optional: Align text as needed */
  }
  
  /* Data row styles */
  .custom-table td {
    border: 1px solid #ddd; /* Add borders to data cells */
    padding: 8px; /* Optional: Add padding */
    text-align: left; /* Optional: Align text as needed */
  }

  /* Even row styles */
  .even-row {
    background-color: #f2f2f2; /* Background color for even rows */
  }
  
  /* Odd row styles */
  .odd-row {
    background-color: #ffffff; /* Background color for odd rows */
  }

  .hov-row {
    background-color: #eac4c4; /* Background color for hovered rows */
  }
  
  